.TarjetasMain{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 0 6rem;
    width: 100%;
    height: 100%;
}

.CardsList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: lightgreen; */
    width: 40%;
}

.Preview{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: lightpink; */
    width: 60%;

}
.Card-container{
    margin: 0 ;
    margin-bottom: 1.5rem !important;
}
.Card{
    background-color: white;
    width: 312px;
    max-height: 1000px;
    border-radius: 0.5rem;
    box-shadow: 0px 3px 6px #00000029;
    padding: 2rem 4rem;
    transition: max-height 200ms ease-in-out;
}

.OneButton{
    display: flex;
    justify-content: center !important;
    align-items: center;
    flex-direction: row;
    width: 312px;
    margin-top: 1rem;
}

.OneButton button{
    width: 6rem;
    height: 2.5rem;
}



.CardItem{
    display: flex;
    width: 27rem;
    height: 5.5rem;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 3px 6px #00000029;
    transition: box-shadow 500ms;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.CardItem:hover{
    box-shadow: 1px 5px 20px #1a1a1a42;
}



.Selected{
    box-shadow: 0px 3px 6px #40AF62 !important;
}
.Selected:hover{
    box-shadow: 0px 3px 6px #40AF62 !important;
}



.CardItem p{
    width: max-content;
    margin: 0 !important;
    padding: 0 !important;

}

.CardLogo img{
    max-height: 4.2rem;
    max-width: 4.2rem;
    min-width: 3.5rem;
    object-fit: cover;
}
.CardLogo{
    height: auto;
    width: auto;
}

.CardForm{
    width: 312px;
}

.CardForm input{
    width: 100%;
    margin: 0;
    margin-top: 1rem !important;
}

.CardForm div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


.MuiSelect-select {
    min-width: 100px !important;
}