
.ProfileHijo{
    display: flex;
    flex-direction: column;
    position: absolute;

    justify-content: center;
    align-items: center;

    width: 30rem;
    height: 28rem;
    margin: 0 auto;
    left: 0;
    right: 0;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 12px;

    padding: 1rem;

}

.ProfileHijo img{
    width: 12rem;
    height: 12rem;
}

.formProfileHijo{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.botonesProfileHijo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0;
    right: 0;
    left: 0;
    width: 100%;
}
