
.gridContainerHijos {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.GridItemHijos {
    width: 100%;
    height: 100%;
}

.CardHijo {
    height: 6.5rem;
    width: 6.5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContentCardHijo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    text-align: center;
    height: 90%;
}
.ContentCardHijo p{
    margin:0;
}

.modal {
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}