
.gridContainerHijos {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.GridItemHijos {
    width: 100%;
    height: 100%;
}

.CardHijo {
    height: 6rem;
    width: 75px;
    margin: 0 auto;
    display: flex;
}

.ContentCardHijo {
    position: relative;
    margin: 0 auto;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal {
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}