.ListHistory {
    width: 671px;
    height: 714px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
}

.Registro {
    /* top: 188px;
    left: 339px; */
    width: 586px;
    height: 89px;
    opacity: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
 }

.nombreHijo {
    top: 199px;
    left: 429px;
    width: 55px;
    height: 28px;
    text-align: left;
    font: Regular 21px/28px Open Sans bold;    
    letter-spacing: 0px;
    color: #000000E6;
    opacity: 1;
    font-weight: bold;
}

.item {
    top: 207px;
    left: 596px;
    width: 136px;
    height: 28px;
    text-align: left;
    font: Regular 21px/28px Open Sans;
    letter-spacing: 0px;
    color: #000000E6;
    opacity: 1;
}

.saldoNegativo {
    top: 209px;
    left: 839px;
    width: 43px;
    height: 28px;
    text-align: left;
    font: Regular 21px/28px Open Sans;
    letter-spacing: 0px;
    color: #FB0B0B;
    opacity: 1;
}

.saldoPositivo {
    top: 645px;
    left: 839px;
    width: 60px;
    height: 28px;
    text-align: left;
    font: Regular 21px/28px Open Sans;
    font-weight:bold;
    letter-spacing: 0px;
    color: #4CB85E;
    opacity: 1;
}

p {
    top: 129px;
    left: 327px;
    width: 229px;
    height: 32px;
    text-align: left;
    font: Regular 23px/32px Open Sans;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000E6;
    opacity: 1;
}

.select1 {
    position: absolute;
    width: 229px;
    height: 20px;
}

.title {
    padding-left: 26px;
    padding-top: 26px;
}

.inner {
    overflow: hidden;
    width: 2000px;
  }

.ItemTime {
    text-align: left;
    font: Light 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #A4A4A4;
    opacity: 1;
}

.unido{
    display: flex;
    position: relative;
}