.childrensContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 4;
    margin-top: 2rem;
}

.FilaHijos {
    width: 70%;
    height: 15%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.gridContainerHijos {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.GridItemHijos {
    width: 100%;
    height: 100%;
}

.gridHijo {}

.CardHijo {
    height: 6rem;
    width: 75px;
    margin: 0 auto;
    display: flex;
}

.ContentCardHijo {
    position: relative;
    margin: 0 auto;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.FilaMenuBotones {
    width: 70%;
    height: 5%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.BotoneraMenu {
    width: 100%;
    margin: 0 auto;
}

.FilaMenuView {
    width: 70%;
    height: 70%;
    display: flex;
    margin: 0 auto;
}

.ColumnOpciones {
    width: 20rem;
    padding: 1rem;
}

.ColumnMenu {
    margin-top: 1rem;
    /* background-color: white; */
    width: 70%;
    /* background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029; */
    opacity: 1;
    height: 24rem;
    border-radius: 12px;
}

.CardAlimentos{
    width: 100%;
    height: 24rem;
}
.OpcAlimentos {
    width: 20rem;
    height: 16rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 12px;
}
.RadioAlimentos{
    width: 20rem;
    height: 8rem;
    margin-top: 2rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 12px;
}
.RadioGroupAlimentos{
    width: 100%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.CardAlimento {
    height: 8rem;
    width: 100px;
    margin: 1 auto;
    display: flexbox;
    justify-content: center;
    position: relative;
    font-size: 12px;
    margin-left: 35px;
    margin-top: 15px;
}

.CardAlimento img {
    width: 100%;
    height: 60px;
}

.BotonCardAlimento {
    width: 100%;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    right: 0;
    left: 0;
}


.CardComercios{
    width: 100%;
    height: 24rem;
}

.CardComercio {
    height: 8rem;
    width: 100px;
    margin: 1 auto;
    margin-left: 35px;
    margin-top: 15px;
    display: flexbox;
    justify-content: center;
    position: relative;
    font-size: 12px;
}

.CardComercio img {
    width: 100%;
    height: 60px;
}

.BotonCardComercio {
    width: 100%;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.ProfileHijo{
 
    margin-bottom: 4rem;
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: inline-block;
    position: absolute;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 12px;
}

.ProfileHijo img{
    width: 12rem;
    height: 12rem;
    justify-content: center;
    margin-left: 35%; 
}

.formProfileHijo{
    position: absolute;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
}

.botonesProfileHijo{
    width: 300px;

    margin: 0 auto;
    right: 0;
    left: 350px;
    bottom: 50px;
    justify-content: center;
    align-items: center;
    float:right;
	bottom:0px;
	right:0px;
	position:fixed;
}