.RegisterHijo {
    height: 75%;
    width: 30%;
    position: absolute;
    z-index: 5;
    margin: auto auto;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background: white;
    padding: 0 1rem;
    border-radius: 1rem;
    box-shadow:  3px 5px 12px rgba(0,0,0,0.5);
    
}

.MuiFormGroup-root{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row !important;
}

input[type="file"]{
    
    display: none;
}
.inputImg {
    border: 1px solid grey;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: grey;
    font-weight: bold;
    width: 92%;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    
}
.formRegisterHijo {
    height: max-content;
    margin-top: 2rem;
    margin-left: 2rem;
    overflow-y: scroll;
    padding-right: 2.5rem;
}
.formRegisterHijo input{
    width: 100%;
}
.formRegisterHijo p{
    margin: 0;
    
}
.RegisterHijo button{
    margin: 0;
    
}
.MuiRadio-colorSecondary.Mui-checked {
    color: #40AF62 !important;
}

h1, h4{
    padding-left: 30px;
}

.RegisterFooter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Tamaño del scroll */

.formRegisterHijo::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


/* Estilos barra (thumb) de scroll */

.formRegisterHijo::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.formRegisterHijo::-webkit-scrollbar-thumb:active {
    background-color: #999999;
    border-radius: 4px;
}

.formRegisterHijo::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}


/* Estilos track de scroll */

.formRegisterHijo::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

.formRegisterHijo::-webkit-scrollbar-track:hover,
.formRegisterHijo::-webkit-scrollbar-track:active {
    background: transparent;
}