.Content{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
    position: fixed;
    top: 56px;
    left: 15rem;
    width: calc(100vw - 15rem);
    height: calc(100vh - 56px);
    /* padding-top: 56px;
    margin-left: 15rem; */
    min-height: calc(100vh - 56px);
    background-color: #FBFBFB;
}