.LimitesMenu {
    display: flex;
    flex-direction: row;
    position: fixed;

    justify-content: center;

    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 0 2rem;

}

.LimitesLeft{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 0 2rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 12px;
    margin-bottom: 1rem;
    margin-left: 6rem;

}

.LimitesRight{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 2rem;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 12px;

    margin-bottom: 1rem;
    margin-left: 2rem;
    padding-bottom: 2rem;
}