.CreateUser {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    width: 400px;
    height: 450px;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
     
}

.CardHeader {
    background: rgb(243,77,134);
    background: linear-gradient(90deg, rgba(243,77,134,1) 0%, rgba(181,93,169,1) 100%);
    height: 7rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

}


.CardContent {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}


.CreateForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}