

.Background {
    position: fixed;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    
    background-image: url("../../assets/Background.jpg");
    background-color: #FBFBFB;
    background-size: cover;
    z-index: 1;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    backdrop-filter: brightness(60%);
    backdrop-filter: contrast(40%);
    backdrop-filter: drop-shadow(4px 4px 10px blue);
    backdrop-filter: grayscale(30%);
    backdrop-filter: hue-rotate(120deg);
    backdrop-filter: invert(70%);
    backdrop-filter: opacity(20%);
    backdrop-filter: sepia(90%);
    backdrop-filter: saturate(80%);
    
}
.Background2 {
    position: fixed;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    background-color: #FBFBFB;
    background-size: cover;
    backdrop-filter: saturate(80%);
    z-index: 2;
}

.CreateUser {
    margin: 0 auto;

    position: fixed;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    width: 400px;
    height: 500px;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 12px black;
    z-index: 999;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;

    top: 15%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.CardHeader {
    height: 7rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(38, 168, 128);
    background: linear-gradient(90deg, rgba(38, 168, 128, 1) 0%, rgba(129, 175, 83, 1) 100%);
}


.CardContent {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}


.CreateForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}