.Home{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
   
}

.Home .Column{
    display: flex;
    flex-direction: column;
    height: 90%;
    margin: 1rem;
}