.Backdrop{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.Modal{
    z-index: 10000;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 5px 2px 12px rgba(0,0,0,0.5);
    width: 65vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.Modal .ModalSidebar{
    width: 40vw;
    height: 100%;
    box-shadow: 3px 0px 5px -2px #ccc;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-sizing: border-box;
}
.ModalInfo{
    padding: 0 1rem;;
}

.ModalImg img{
    width: 100%;
    height: 15rem;
    border-top-left-radius: 12px;
    object-fit: cover;
}

.Modal .ModalListProducts{
    height: 100%;
    width: 70vw;
    box-sizing: border-box;
    padding: 0 2rem;
}

.ModalListProducts .Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.Close{
    cursor: pointer;
    color: lightgray;
}
.Close:hover{
    color: #40AF62;
}
