.CardSaldo {
    width: 19rem;
    height: 14rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    display: flex;
    position: relative;
    text-align: center;
    padding-top: 2px;
}

.imgSaldo {
    position: absolute;
    padding: 1rem;
    margin: 1rem;
    /* padding: 1rem;
    margin: 2rem; */
}

.lblSaldo {
    position: absolute;
    text-align: center;
    font: Regular 28px/32px Open Sans bold;
    font-size: 24px;
    letter-spacing: 0px;
    color: #000000;
    padding: 1rem;
    left: 110px;
    top: 20px;
    /* margin: auto;
    margin-right: 12rem; */
}

.btnSaldo {
    outline: none;
    border-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    color: black;
    height: 40px;
    width: 100%;
    position: absolute;
    left:0px;
    /* left: 0px;
    top: 90px; */
    top: 165px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
}

.imgBtn {
    padding-right: 1rem;
    text-align: center;
}

.cargarSaldo {
    
    width: 400px;
    background-color: white;
    position: absolute;
    left: 450px;
    bottom: 350px;
    justify-content: center;
    display: grid;
    padding: 2rem;
    border-radius: 10px;
}

.modal {
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}

.SaldoListHijos {
    position: absolute;
    width: 19rem;
    height: 10rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    padding-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 12px;
}

.SaldoListItemHijos {
    position: absolute;
    width: 19rem;
    height: 8rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    padding-bottom: 1rem;
}

.ItemHijo{
    position: absolute;
    width: 4rem;
    height: 4rem;
}

.title_SaldoListHijos{
    position: relative;
    margin: 0 auto;
    right: 0;
    left: 0;
    margin-left: 1rem;
}

.title_SaldoListHijos p{
    width: max-content;
    font-weight: bold;
    margin-top: 0.4rem;
}
.nameListItemText{
    font: bold;
    font-size: 24px;
    letter-spacing: 0px;
    color: #2A2A00;   
}