.CardSaldo {
    width: 277px;
    height: 151px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    display: flex;
    position: relative;
    text-align: center;
    left: 720px;
    bottom: 720px;
}

.imgSaldo {
    position: absolute;
    padding: 1rem;
    margin: 1rem;
    /* padding: 1rem;
    margin: 2rem; */
}

.lblSaldo {
    position: absolute;
    text-align: center;
    font: Regular 28px/32px Open Sans bold;
    font-size: 24px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding: 1rem;
    left: 110px;
    top: 20px;
    /* margin: auto;
    margin-right: 12rem; */
}

.btnSaldo {
    outline: none;
    border-color: white;
    border-top-color: gray;
    color: black;
    height: 40px;
    width: 100%;
    padding-left: 1rem;
    position: absolute;
    left: 0px;
    top: 90px;
    border-radius: 10px;
}

.imgBtn {
    padding-right: 1rem;
    text-align: center;
}

.cargarSaldo {
    position: 'absolute';
    width: 400px;
    background-color:white;
    border: '2px solid #000';
    box-shadow: black;
    position: absolute;
    left: 450px;
    bottom: 350px;
    justify-content: center;
    display: grid;
    padding: 2rem;
}

.modal {
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}